@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background: #03071e;
}

header {
  background: #faa307;
}

header div {
  width: 80%;
  margin: auto;
}

h1 {
  color: #03071e;
}

a {
  text-decoration: none;
  color: #023047;
  font-size: 1.3rem;
  font-weight: bold;
}

.container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.post {
  background: rgba(255, 255, 255, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

h3 {
  color: #ffba08;
  line-height: 2rem;
}
